.divP{
    height: 100vh;
    width: 90%;
    background-color: #FFF9E9;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

hr.new5 {
    border: 1px solid #222;
    border-radius: 5px;
    width: 100%;

  }