.bread{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  align-items: center;
  width: 75vw;
  max-width: 650px;
  padding: 50px 30px 50px 20px;
  background: #fff;
  border-radius: 24px;
}

.cardDesc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 75vw;
  max-width: 650px;
  padding: 20px 30px 20px 20px;
  background: #fff;
  border-radius: 24px;
}

.top {
  margin-top: 1rem;
}
.cardimg {
  max-width: 280px;
  object-fit: cover;
  margin-left: -60px;
  margin-right: 30px;
  border-radius: 5px;
  box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
  mix-blend-mode: multiply;
}

.cardh3 {
  position: relative;
  color: rgb(0 0 0 / 90%);
  font-weight: 700;
  right: 5px;
}

.colormoneyBoy {
  color: #3f79e6;
}

.colormoneyGirl {
  color: #e63f8d;
}

.cardp {
  color: rgb(0 0 0 / 70%);
  text-decoration: line-through;
  margin-top: 1rem;
}

.sizes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 220px;
}

.cardbutton {
  border: 0;
  background: #5448de;
  color: #f8f8f8;
  font-family: inherit;
  padding: 1rem 26px;
  font-size: 1rem;
  border-radius: 10px;
}

@media (width <= 740px) {
  .card {
    flex-direction: column;
    text-align: center;
    margin: 0 40px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
  }

  .cardimg {
    margin: -100px 0 30px 0;
    width: 100%;
    max-width: 1000px;
    height: 60vw;
  }

  .boxText {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2{
      font-size: x-large;
    }

    .cardp{
      font-size: large;
      margin-bottom: 7px;
    }
  }

  .bread{
    display: flex;
    justify-content: flex-start;
    margin-left: 2rem;
    align-items: center;
  }

  .top {
  margin-top: 4rem;
}

}

// BTN Boy
.Btn {
  position: relative;
  width: 180px;
  height: 50px;
  border: none;
  background-color: #005f99;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 8px 8px 0px rgb(12, 12, 12);
  transition-duration: 0.3s;
  margin-left: 10px;
}

.Layer {
  width: 60px;
  position: absolute;
  left: -30px;
  transition-duration: 0.3s;
  animation: spin 5s linear infinite;
}

.Btn:hover {
  transform: translateY(5px);
  box-shadow: 3px 3px 0px black;
  transition-duration: 0.3s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Btn:hover .Layer {
  left: 0%;
  width: 100%;
  transition-duration: 0.3s;
}

.text {
  color: white;
  font-weight: 600;
  font-size: 1.1em;
  position: absolute;
  z-index: 2;
  transition-duration: 0.1s;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  padding-top: 12px;
}

.Btn:hover .text {
  color: transparent;
  transition-duration: 0.3s;
}
/* svg colors */
.cls1 {
  fill: #242021;
}

.cls2 {
  fill: #e82728;
}

.cls3 {
  fill: #fefefe;
}

.cls4 {
  fill: #e92728;
}

.cls5 {
  fill: #005f99;
}

.cls6 {
  fill: #fff;
}

.btnGirl {
  position: relative;
  padding: 15px 45px;
  background: #FEC195;
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 1px solid #FEC195;
  border-radius: 8px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .2));
}

.btnGirl:hover {
  border: 1px solid #f3b182;
  background: linear-gradient(85deg, #FEC195, #fcc196, #fabd92, #fac097, #fac39c);
  animation: wind 2s ease-in-out infinite;
}

@keyframes wind {
  0% {
    background-position: 0% 50%;
  }

  0% {
    background-position: 50% 100%;
  }

  0% {
    background-position: 0% 50%;
  }
}

.icon_1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  transform-origin: 0 0;
  transform: rotate(10deg);
  transition: all .5s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .3));
}

.btnGirl:hover .icon_1 {
  animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
  transform: rotate(10deg);
}

@keyframes slay-1 {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

.icon_2 {
  position: absolute;
  top: 0;
  left: 25px;
  width: 12px;
  transform-origin: 50% 0;
  transform: rotate(10deg);
  transition: all 1s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
}

.btnGirl:hover .icon_2 {
  animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
  transform: rotate(0);
}

@keyframes slay-2 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0);
  }
}

.icon_3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  transform-origin: 50% 0;
  transform: rotate(-5deg);
  transition: all 1s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
}

.btnGirl:hover .icon_3 {
  animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
  transform: rotate(0);
}

@keyframes slay-3 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0);
  }
}